<mat-card>
    <h1 style="text-align: center;">Your profile details</h1>
    <mat-card-content>

        <div class="bootstrap-wrapper">

            <div class="container">

                <div class="container text-center">
                    <img data-ot-ignore [src]= "transform()" width="200px" height="200px"/>
                    <h2 style="margin-top: 20px;">{{user.firstName}} {{user.lastName}}</h2>
                </div>

                <div style="text-align: center;">
                    <app-image-upload></app-image-upload>
                </div><br>

                <div class="row">

                    <div class="col-md-8 offset-md-2">

                        <!--div details-->
                        <table class="table">

                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>

                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>

                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>

                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>

                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"INACTIVE"}}</td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" style="margin-left: auto">UPDATE</button>
        <button mat-raised-button color="accent" style="margin-right: auto; margin-left: 5px;">SHARE</button>
    </mat-card-actions>
    
</mat-card>