<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="col-md-2">
        <!--Instruction-->
    </div>
    <div class="col-md-7 offset-md-2">
        <!--Questions-->
        <ng-container *ngIf="questions">
            <h1 style="text-align: center;"><b>{{questions[0].quiz.title}}</b></h1>
            <mat-card *ngFor="let q of questions; let i=index" style="margin-bottom: 5px;">
                <mat-card-content>
                    <p style="font-size: medium; font-weight: 500;">Q.{{i+1}} {{q.content}}</p>
                    <mat-divider></mat-divider><br>
                    <mat-radio-group [(ngModel)]="q.choice">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-radio-button [value]="q.option1">{{q.option1}}</mat-radio-button>
                            </div>
                            <div class="col-md-6">
                                <mat-radio-button [value]="q.option2">{{q.option2}}</mat-radio-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-radio-button [value]="q.option3">{{q.option3}}</mat-radio-button>
                            </div>
                            <div class="col-md-6">
                                <mat-radio-button [value]="q.option4">{{q.option4}}</mat-radio-button>
                            </div>
                        </div>
                    </mat-radio-group>
                </mat-card-content>
                
            </mat-card>
            <div style="margin-left: 40%; margin-right: auto;">
                <button mat-flat-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
            </div>                
        </ng-container>
    </div>
    <div class="col-md-3">
        <!--Progress bar-->
    </div>
</div>

<!--show the result-->
<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <h1 style="font-weight: bold;">Quiz Result</h1>
                </mat-card-header>

                <mat-divider></mat-divider><br>

                <mat-card-content>
                    <h3>Correct answers: {{score}}</h3>
                    <h3>Questions attempted: {{attempted}}</h3>
                </mat-card-content>

                <mat-card-actions style="margin-left: auto; margin-right: auto;">
                    <button mat-flat-button color="accent">Print</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>