<h1>{{quizTitle}} Questions</h1>

<button [routerLink]="'/admin/add-question/' + quizId" mat-flat-button color="primary" style="margin-bottom: 4px;">Add Question</button>
<mat-card *ngFor="let ques of questions; let i =index" style="margin-bottom: 5px;">

    <mat-card-header>
        <mat-card-title>
            Q.{{i+1}} {{ques.content}}
        </mat-card-title>
    </mat-card-header><br>

    <mat-card-content>
        <p><b>(a)</b> {{ques.option1}}</p>
        <p><b>(b)</b> {{ques.option2}}</p>
        <p><b>(c)</b> {{ques.option3}}</p>
        <p><b>(d)</b> {{ques.option4}}</p>
        <p><b>Correct Answer: </b>{{ques.answer}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="accent" [routerLink]="'/admin/update-question/' + ques.questionId">Update</button>
        <button mat-flat-button color="accent" (click)="deleteQuestion(ques.questionId)" style="margin-left: 5px;">Delete</button>
    </mat-card-actions>
</mat-card>