<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <!--Heading-->
                        <mat-card-title>
                            Read the instructions carefully
                        </mat-card-title>
                        <mat-card-subtitle>
                            One step more to go
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <!--Body-->
                        <br>
                        <h1>{{quiz.title}}</h1>
                        <p>{{quiz.description}}</p>

                        <mat-divider></mat-divider>
                        <br>

                        <h1>Important Instructions</h1>

                        <ul>
                            <li>This quiz is only for practice</li>
                            <li>This quiz does not resemble any other quiz dead or alive</li>
                            <li>Any such resemblance is purely coincidental</li>
                            <li>Time to complete quiz is: <b>{{quiz.numberOfQuestions * 0.5}} minutes</b></li>
                            <li>There are <b>{{quiz.numberOfQuestions}} questions</b> in the quiz</li>
                            <li>The quiz is of <b>{{quiz.maxMarks}} marks</b></li>
                            <li>Each question carries <b>{{quiz.maxMarks/quiz.numberOfQuestions}} marks</b></li>
                            <li>No negative marking for wrong answers</li>
                            <li>You can attempt the quiz any number of times</li>
                        </ul>

                    </mat-card-content>

                    <mat-card-actions style="margin-left: auto; margin-right: auto;">
                        <!--Buttons-->
                        <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>